.tags {
  display: none;
}

.botones {
  position:absolute;
  bottom: 5%;
}

.derecha {
  text-align: right;
  right: 5%;
}

.btn-menu {
  margin-left: 2em;
  margin-top: 2em;
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 50px;
  font-size: 22px;
  font-weight: 400;
  outline:none;
  border: none;
}

.btn-menu:hover {
  background-color: #222;
}

#contacto {
  margin-top: 1em;
}

.nostyle {
  text-decoration: none;
  color: inherit;
}

.modal-header {
  background-color: black;
}

.menuModalLabel {
  font-size: 28px;
}

.btn-tabla {
  background-color: black;
  color: white;
  padding-left: 1em;
  padding-right: 1em;
  min-height: 50px;
  font-size: 22px;
  font-weight: 400;
  margin-top: 0.5em;
  outline:none;
  border: none;
}

.btn-tabla:hover {
  background-color: #222;
}

.thead-dark {
  background-color: black;
  color: white;
}

.oscuro {
  background-color: rgb(0, 0, 0);
  text-align: center;
  margin-top: 0.5em;
}

@media (max-width: 576px) {
  .btn-menu {
    margin-left: 1em;
    margin-top: 1em;
    background-color: black;
    color: white;
    padding-left: 1em;
    padding-right: 1em;
    min-height: 45px;
    font-size: 16px;
    font-weight: 300;
    outline:none;
    border: none;
  }

  .modal modal-dialog {
    margin: 0;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
  }
}
