html,body{
  height: 100%;
  width: 100%;

}
body{
  /* The image used */
  background-image: url('assets/img/fondo-pag-web.jpg');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
